# Minimum Requirements

## Basics
# Core packages
cython==0.29.27 # The Cython compiler for writing C extensions for the Python language.
tqdm==4.64.1 # Fast, Extensible Progress Meter
matplotlib==3.5.1 # Python plotting package
requests==2.32.3 # Python HTTP for Humans.
urllib3==1.26.8 # HTTP library with thread-safe connection pooling, file post, and more.
idna==3.3 # Internationalized Domain Names in Applications (IDNA) - requests dependency
pandas==1.4.0 # Powerful data structures for data analysis, time series, and statistics
attrs==21.4.0 # Classes Without Boilerplate
six==1.16.0 # Python 2 and 3 compatibility utilities
future==0.18.2 # Clean single-source support for Python 3 and 2
python-dateutil==2.8.2 # Extensions to the standard Python datetime module
pyyaml==6.0 # YAML parser and emitter for Python
joblib==1.1.0 # Lightweight pipelining: using Python functions as pipeline jobs.
pillow==10.4.0 # Python Imaging Library (Fork)
pyzmq==22.3.0 # Python bindings for 0MQ
python-crontab==2.6.0 # Python Crontab API for managing cron jobs
cmake==3.22.2 # CMake is an open-source, cross-platform family of tools designed to build, test and package software
protobuf==3.20.3 # Protocol Buffers - Google's data interchange format

## Utilities
httpie==3.0.2 # HTTPie - a CLI, cURL-like tool for humans.
cloudpickle==2.0.0  # Extended pickling support for Python objects
msgpack==1.0.3 # MessagePack (de)serializer.
msgpack-numpy==0.4.7.1 # Numpy data serialization using msgpack
cysignals==1.11.2 # Interrupt and signal handling for Cython
h5py==3.6.0 # Read and write HDF5 files from Python
seaborn==0.13.0 # Python visualization library based on matplotlib
sqlalchemy==1.4.31 # Database Abstraction Library
sortedcontainers==2.4.0 # Sorted Containers -- Sorted List, Sorted Dict, Sorted Set
simplejson==3.17.6 # Simple, fast, extensible JSON encoder/decoder for Python
pygments==2.18.0 # Syntax highlighting package written in Python
jsonschema==4.4.0 # JSON Schema validation for Python
loguru==0.6.0 # Python logging made simple
click==8.0.3 # Composable command line interface toolkit
docutils==0.18.1 # Python Documentation Utilities
tabulate==0.8.9 # Pretty-print tabular data
regex==2022.1.18 # Alternative regular expression module, to replace re.
toolz==0.11.2 # List processing tools and functional utilities
jmespath==0.10.0 # JSON Matching Expressions
dill==0.3.4 # Serialize all of python
imageio==2.14.1 # Library for reading and writing a wide range of image, video, scientific, and volumetric data formats
pyparsing==3.0.7 # Python parsing module
graphviz==0.19.1 # Simple Python interface for Graphviz
colorama==0.4.4 # Cross-platform colored terminal text.
cffi==1.15.0 # Foreign Function Interface for Python calling C code

## Development Helper
twine==3.7.1 # Utilities for publishing packages on PyPI
tox==3.24.5 # Generic virtualenv management and test command line tool
pipenv==2022.1.8 # Python Development Workflow for Humans
poetry==1.1.12 # Python dependency management and packaging made easy
virtualenv==20.13.0 # Virtual Python Environment builder
pytest==6.2.5 # Simple powerful testing framework for Python
autopep8==1.6.0 # Automatically formats Python code to conform to PEP 8
flake8==4.0.1 # Modular source code checker: pep8, pyflakes and co
black==22.1.0 # The uncompromising code formatter
pylint==2.12.2 # Python code static checker
pycodestyle==2.8.0 # Python style guide checker
pydocstyle==6.1.1 # Python docstring style checker
mock==4.0.3 # Rolling backport of unittest.mock for all Pythons
nox==2022.1.7 # Flexible test automation
pip-tools==6.4.0 # Keeps your pinned dependencies fresh
virtualenvwrapper==4.8.4 # Enhancements to virtualenv
isort==5.10.1 # Utility/library to sort Python imports
jedi==0.18.1 # Autocompletion tool for Python
pipreqs==0.4.11 # Pip requirements.txt generator based on imports in project
mypy==0.931 # Static type checker for Python

## Web Frameworks
tornado==6.1 # Python web framework and asynchronous networking library
flask==2.0.2 # Simple framework for building complex web applications
gunicorn==20.1.0 # WSGI HTTP Server for UNIX
uvicorn==0.24.0.post1 # Lightning-fast ASGI server

## ML Libraries
# TensorBoard lets you watch TensorFlow metrics
tensorboard==2.8.0 # TensorBoard for visualizing TensorFlow metrics

## Glances
psutil==5.9.0 # Cross-platform library for process and system monitoring in Python
bottle==0.12.19 # Fast and simple WSGI-framework for small web applications
netifaces==0.11.0 # Portable network interface information
py-cpuinfo==8.0.0 # Get CPU info with pure Python
glances==3.2.4.2 # Cross-platform curses-based monitoring tool
pymdstat==0.4.2 # Python library to parse Linux /proc/mdstat

## Jupyter
# Jupyter and its related extensions
ipykernel==6.7.0 # IPython Kernel for Jupyter
jupytext==1.13.6 # Jupyter notebooks as Markdown documents, Julia, Python, or R scripts
jupyter-resource-usage==0.6.1 # Shows resource usage (RAM) of your Jupyter notebook
ipympl==0.8.7 # Matplotlib Jupyter Extension
jupyterhub==2.1.1 # Multi-user server for Jupyter notebooks
remote_ikernel==0.4.6 # Running IPython kernels through batch queues
jupyter_contrib_nbextensions==0.5.1 # Collection of Jupyter notebook extensions
jupyter_nbextensions_configurator==0.4.1 # Server extension for configuring Jupyter nbextensions
nbdime==3.1.1 # Diff and merge of Jupyter Notebooks

# Additional Libraries
albumentations==1.3.0 # Image augmentation library
thop==0.1.1.post2209072238 # Tool for calculating the number of operations in neural networks
shapely==1.8.4 # Geometry library for manipulation and analysis

## Images
opencv-python-headless==4.5.5.62 # OpenCV Python bindings without GUI support
opencv-python==4.5.5.62 # OpenCV Python bindings with GUI support
scikit-image==0.19.1 # Image processing routines for SciPy

packaging==20.9
addict==2.4.0
editdistance==0.6.2
einops==0.7.0
fairscale==0.4.0
jsonlines==4.0.0
markdown2==2.4.10
more_itertools==10.1.0
openpyxl==3.1.2
#Pillow==10.1.0
sacrebleu==2.3.2
seaborn==0.13.0
shortuuid==1.0.11
spacy==3.7.2
#timm==0.9.10
#tqdm==4.66.1
# protobuf==4.25.0
transformers==4.40.0
typing_extensions==4.8.0
uvicorn==0.24.0.post1
#xformers==0.0.22.post7
# flash_attn==2.3.4
sentencepiece==0.1.99
accelerate==0.30.1
socksio==1.0.0

gradio==4.26.0 # Python library for creating GUIs for machine learning models
gradio_client==0.15.1 # Gradio client library
peft==0.11.1 # Parameter Efficient Fine-Tuning
deepspeed==0.14.4 # DeepSpeed library for distributed training
